.contact-info {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
}
.contact-info h2 {
    margin: 0;
    font-size: 24px;
 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
/* Reset dan pengaturan dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur font default */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}


.area-button
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-primary
{
    background-color: #14bdcc;
    height: 40px;
    padding: 10;
    width: 120px;
    color: rgb(248, 236, 10);
    border: 1px #333333;
    border-radius: 25px;
    cursor: pointer;
}

.button-primary:hover
{
    background-color: rgb(228, 234, 234);
    border: 1px solid #FF0000;
    color:rgb(240, 10, 125);
}

.button-secondary
{
    background-color: #a90a2d;
    height: 40px;
    padding: 10;
    width: 120px;
    color: rgb(203, 244, 20);
    border: 1px #333333;
    border-radius: 25px;
    cursor: pointer;
}

